@use "../utils/mixin" as mix;
@use "../utils/color" as clr;
.sidebar {
  @include mix.d-flex;
  flex-direction: column;
  position: fixed;
  height: calc(100vh - 5rem);
  width: 6rem;
}
.sidebar img {
  width: 30px;
  transition: transform ease 200ms;
}
.sidebar img:hover {
  transform: translateY(-30%);
}
.social__icons {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
