@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");
// font-family: 'Fredoka', sans-serif;
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
